<ion-view title="Playlist">
  <ion-content class="has-header">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/pollution.png">
        <h2>Sense</h2>
        <p>Real time pollution around the globe</p>
      </div>

      <div class="item item-image">
        <img src="img/pollution_large.png">
      </div>

      <div class="details item">
        Pollution PPM found in this area is: {{detailsData}}
      </div>


      <div style="margin-bottom: 50px;">
        <a class="item item-icon-left assertive" ng-click="sendAlert()">
          <i class="icon ion-radio-waves"></i>
          Send Alert
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
